<div class="d-flex align-items-center justify-content-between">
    <h5 class="card-title fw-semibold mb-4">Hóspedes</h5>
    <div>
        {% if has_filter %}
        <a class="btn btn-outline-warning mb-4"
            href="{{ url_for('guests') }}?per_page={{ pager.per_page }}">
            Limpar Filtros
        </a>
        {% endif %}
        <a class="btn btn-primary mb-4"
            href="{{ url_for('new_guest') }}">
            Novo Hóspede
        </a>
    </div>
</div>
{% include 'dashboard/partials/_per_page.html' %}
<div class="table-responsive">
    <table class="table text-nowrap mb-0 align-middle">
        <thead class="text-dark fs-4">
            <tr>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Nome</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">CPF</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">E-mail</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Telefone</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Nº reserva <a type="button" class="" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                            data-bs-title='Somente reservas de situação "Reservado" ou "Entrada"'>
                            <i class="ti ti-info-circle"></i>
                        </a></h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Check-in <a type="button" class="" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                            title="Datas em azul são reservas agendadas, datas em verde são reservas com check-in feitos">
                            <i class="ti ti-info-circle"></i>
                        </a></h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Ações</h6>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for guest in guests %}
            <tr class="align-items-center">
                <td class="border-bottom-0">
                    <p class="fw-semibold mb-0">{{ guest.Guest.name }}</p>
                </td>
                <td class="border-bottom-0">
                    <p class="fw-semibold mb-0">{{ guest.Guest.cpf[:3] + "." + "xxx" + "." +
                        "xxx" + "." + guest.Guest.cpf[9:] }}</p>
                    {# <span class="fw-normal">Web Designer</span> #}
                </td>
                <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{ guest.Guest.email if guest.Guest.email else 'Não informado' }}</p>
                </td>
                <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">
                        {{ "(" + guest.Guest.phone_number[:2] + ") " + guest.Guest.phone_number[2:] if
                        guest.Guest.phone_number else 'Não informado' }}
                    </p>
                </td>
                <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">
                        {% if guest.reservation_id %}
                        {{ guest.reservation_id }}
                        {% else %}
                        Sem reserva
                        {% endif %}
                    </p>
                </td>
                <td class="border-bottom-0">
                    <p
                        class="mb-0 fw-normal {{ 'text-success' if guest.reservation_status == 'checked_in' }} {{ 'text-info' if guest.reservation_status == 'booked' }}">
                        {% if guest.reservation_check_in %}
                        {{ guest.reservation_check_in.strftime("%d/%m/%Y %H:%M") }}
                        {% else %}
                        Sem reserva
                        {% endif %}
                    </p>
                </td>
                <td class="border-bottom-0">
                    <div class="d-flex align-items-center justify-content-start gap-3 fs-6">
                        {% if not guest.reservation_id %}
                        <a href="{{ url_for('new_reservation') }}?guest_id={{ guest.Guest.id }}" class="text-primary"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reservar este hóspede"
                            data-bs-original-title="Reservar este hóspede" aria-label="Reservar este hóspede"><i
                                class="ti ti-calendar-plus"></i></a>
                        {% else %}
                        <a href="{{ url_for('manage_reservation', reservation_id=guest.reservation_id) }}"
                            class="text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Gerenciar reserva" data-bs-original-title="Gerenciar reserva"
                            aria-label="Gerenciar reserva"><i class="ti ti-calendar-cog"></i></a>
                        {% endif %}
                        <a href="{{ url_for('edit_guest', guest_id=guest.Guest.id, guest_cpf=guest.Guest.cpf) }}"
                            class="text-success"><i class="ti ti-pencil"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'dashboard/partials/_paginate.html' %}