<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('dashboard', path='images/logos/favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('dashboard', path='css/styles.min.css') }}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{{ url_for('dashboard', path='images/logos/dark-logo.svg') }}" width="180" alt="">
                </a>
                <p class="text-center">Registre seu hotel</p>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Nome do Hotel</label>
                    <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail do Hotel</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">CNPJ</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                  </div>
                  <a href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Avançar</a>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Já tem uma conta?</p>
                    <a class="text-primary fw-bold ms-2" href="./authentication-login.html">Entrar</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('dashboard', path='libs/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('dashboard', path='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Hotel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Cadastre seu Hotel</h1>
    <form action="/auth/register" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <label>Nome do Hotel</label>
        <input type="text" name="name" placeholder="Nome" required>
        <label>Email do Hotel</label>
        <input type="email" name="email" placeholder="Email" required>
        <label>Telefone do Hotel</label>
        <input type="text" name="phone_number" placeholder="Telefone" required>
        <label>CNPJ do Hotel</label>
        <input type="text" name="cnpj" placeholder="CNPJ" required>
        <br>
        <label>Nome personalizado</label>
        <input type="text" id="login" name="login" placeholder="Nome personalizado">
        <label>Endereço (Rua e número)</label>
        <input type="text" id="address" name="address" placeholder="Endereço" required>
        <label>Cidade</label>
        <input type="text" id="city" name="city" placeholder="Cidade" required>
        <label>Estado</label>
        <input type="text" id="state" name="state" placeholder="Estado" required>
        <label>CEP</label>
        <input type="text" id="zip_code" name="zip_code" placeholder="CEP" required>
        <br>
        <label>Senha de acesso</label>
        <input type="password" id="password" name="password" placeholder="Senha" required>
        <label>Confirme a senha</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme a senha" required>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html> -->