<h5 class="card-title fw-semibold mb-4">Novo Quarto</h5>
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('create_room') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="room_number" class="form-label">Número do quarto</label>
                    <input type="text" class="form-control" id="room_number" name="room_number" required>
                </div>
                <div class="mb-3 col-8">
                    <label for="room_type" class="form-label">Tipo do quarto
                        <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Se for personalizado, defina a quantidade de adultos e crianças manualmente.">
                            <i class="ti ti-info-circle"></i>
                        </a>
                    </label>
                    <select class="form-select" required name="room_type" id="room_type">
                        <option value="">Selecione o tipo do quarto</option>
                        <optgroup label="1 cama">
                            <option value="1" {% if room and room.type=="1" %}selected{% endif %}>Solteiro</option>
                        </optgroup>
                        <optgroup label="2 camas">
                            <option value="2">Duplo - Duas camas de solteiro (1 adulto, 1 criança)</option>
                            <option value="3">Duplo - Duas camas de solteiro (2 adultos)</option>
                            <option value="4">Casal - Uma cama de casal (2 adultos)</option>
                        </optgroup>
                        <optgroup label="3 camas">
                            <option value="5">Triplo - Três camas de solteiro (1 adulto, 2 crianças)</option>
                            <option value="6">Triplo - Três camas de solteiro (2 adultos, 1 criança)</option>
                            <option value="7">Triplo - Três camas de solteiro (3 adultos)</option>
                            <option value="8">Triplo (com casal) - (1 casal, 1 criança)</option>
                        </optgroup>
                        <option value="9">Personalizado - Quarto adaptatível para 4 ou mais pessoas</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="capacity_adults" class="form-label">Adultos
                        <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Campo dinâmico, exceto para quartos de tipo personalizado.">
                            <i class="ti ti-info-circle"></i>
                        </a>
                    </label>
                    <input type="number" class="form-control" id="capacity_adults" name="capacity_adults" readonly
                        required>
                </div>
                <div class="mb-3 col-4">
                    <label for="capacity_children" class="form-label">Crianças (até 17 anos)
                        <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Campo dinâmico, exceto para quartos de tipo personalizado.">
                            <i class="ti ti-info-circle"></i>
                        </a>
                    </label>
                    <input type="number" class="form-control" id="capacity_children" name="capacity_children" readonly
                        required>
                </div>
                <div class="mb-3 col-4">
                    <label for="capacity_total" class="form-label">Total
                        <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Campo automático, soma de adultos e crianças.">
                            <i class="ti ti-info-circle"></i>
                        </a>
                    </label>
                    <input type="number" class="form-control" id="capacity_total" name="capacity_total" readonly
                        required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="price" class="form-label">Preço (diária)</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                <div class="mb-3 col-6 align-items-end justify-content-start d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="is_active" name="is_active"
                            checked>
                        <label class="form-check-label" for="is_active">
                            Quarto ativo
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a href="javascript:history.back()" class="btn btn-outline-danger ms-2">Voltar</a>
        </form>
    </div>
</div>