<form action="{{ url_for('create_room') if not room else url_for('update_room', room_id=room.id) if room.status != 'occupied' else '' }}" method="POST"
    enctype="multipart/form-data">
    {% if (room and room.status != 'occupied') or not room %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    {% endif %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    <div class="row">
        <div class="mb-3 col-4">
            <label for="room_number" class="form-label">Número do quarto</label>
            <input type="text" class="form-control" id="room_number" name="room_number"
                value="{{ room.room_number if room else '' }}" autocomplete="off" {% if room and room.status == 'occupied' %}readonly{% endif %} required>
        </div>
        <div class="mb-3 col-8">
            <label for="room_type" class="form-label">Tipo do quarto
                <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Se for personalizado, defina a quantidade de adultos e crianças manualmente.">
                    <i class="ti ti-info-circle"></i>
                </a>
            </label>
            <select class="form-select" required name="room_type" id="room_type" autocomplete="off" {% if room and room.status == 'occupied' %}disabled{% endif %}>
                <option value="">Selecione o tipo de quarto</option>
                <optgroup label="1 cama">
                    <option value="1" {% if room and room.type=="1" %}selected{% endif %}>Solteiro</option>
                </optgroup>
                <optgroup label="2 camas">
                    <option value="2" {% if room and room.type=="2" %}selected{% endif %}>Duplo - Duas camas de solteiro
                        (1 adulto, 1 criança)</option>
                    <option value="3" {% if room and room.type=="3" %}selected{% endif %}>Duplo - Duas camas de solteiro
                        (2 adultos)</option>
                    <option value="4" {% if room and room.type=="4" %}selected{% endif %}>Casal - Uma cama de casal (2
                        adultos)</option>
                </optgroup>
                <optgroup label="3 camas">
                    <option value="5" {% if room and room.type=="5" %}selected{% endif %}>Triplo - Três camas de
                        solteiro (1 adulto, 2 crianças)</option>
                    <option value="6" {% if room and room.type=="6" %}selected{% endif %}>Triplo - Três camas de
                        solteiro (2 adultos, 1 criança)</option>
                    <option value="7" {% if room and room.type=="7" %}selected{% endif %}>Triplo - Três camas de
                        solteiro (3 adultos)</option>
                    <option value="8" {% if room and room.type=="8" %}selected{% endif %}>Triplo (com casal) - (1 casal,
                        1 criança)</option>
                </optgroup>
                <option value="9" {% if room and room.type=="9" %}selected{% endif %}>Personalizado - Quarto adaptatível
                    para 4 ou mais pessoas</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-4">
            <label for="capacity_adults" class="form-label">Adultos
                <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Campo dinâmico, exceto para quartos de tipo personalizado.">
                    <i class="ti ti-info-circle"></i>
                </a>
            </label>
            <input type="number" class="form-control" id="capacity_adults" name="capacity_adults" required
                value="{{ room.capacity_adults if room else '' }}" autocomplete="off" {% if room and room.status == 'occupied' or room and room.type != '9' %}readonly{% endif %} required>
        </div>
        <div class="mb-3 col-4">
            <label for="capacity_children" class="form-label">Crianças (até 17 anos)
                <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Campo dinâmico, exceto para quartos de tipo personalizado.">
                    <i class="ti ti-info-circle"></i>
                </a>
            </label>
            <input type="number" class="form-control" id="capacity_children" name="capacity_children" required
                value="{{ room.capacity_children if room else '' }}" autocomplete="off" {% if room and room.status == 'occupied' or room and room.type != '9' %}readonly{% endif %} required>
        </div>
        <div class="mb-3 col-4">
            <label for="capacity_total" class="form-label">Total
                <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip" data-bs-title="Campo automático, soma de adultos e crianças.">
                    <i class="ti ti-info-circle"></i>
                </a>
            </label>
            <input type="number" class="form-control" id="capacity_total" name="capacity_total" required
                value="{{ room.capacity_total if room else '' }}" autocomplete="off" {% if room and room.status == 'occupied' %}readonly{% endif %} required>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="price" class="form-label">Preço (diária)
                {% if room and room.price %}
                <a type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="O valor de possíveis reservas será atualizado conforme atualização do preço da diária.">
                    <i class="ti ti-info-circle"></i>
                </a>
                {% endif %}
            </label>
            <input type="text" class="form-control" id="price" name="price"
                {% if room and room.price %}value="{{ '%.2f'|format(room.price)|replace('.', ',') }}" {% endif %} autocomplete="off"  {% if room and room.status == 'occupied' %}readonly{% endif %} required>
        </div>
        <div class="mb-3 col-6 align-items-end justify-content-start d-flex">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is_active" name="is_active" {% if room and not room.is_active
                    %} unchecked {% else %} checked {% endif %} {% if room and room.status == 'occupied' %}disabled{% endif %}>
                <label class="form-check-label" for="is_active">
                    Quarto ativo
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-12">
            <label for="comments" class="form-label">Observações (o hóspede pode ver as observações do quarto no painel
                de hóspedes)</label>
            <textarea class="form-control" id="comments" name="comments" autocomplete="off"
                placeholder="Ex.: 'Controle da televisão dentro da gaveta da mesa de cabeceira.'"  {% if room and room.status == 'occupied' %}readonly{% endif %} required>{{ room.comments if room and room.comments else '' }}</textarea>
        </div>
    </div>
    {% if room and room.status != 'occupied' %}
    <button type="submit" class="btn btn-primary">Editar</button>
    {% elif room and room.status == 'occupied' %}
    <a class="btn btn-primary opacity-25 me-1" style="cursor: not-allowed;">Editar</a>
    {% elif not room %}
    <button type="submit" class="btn btn-primary">Criar</button>
    {% endif %}
    <a href="{{ url_for('rooms') }}" class="btn btn-outline-danger">Voltar</a>
</form>