{% extends "dashboard/partials/base.html" %}

{% block title %}Colaboradores - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}


<div class="container-fluid">
    {% set breadcrumb_title = "Colaboradores" %}
    {% set breadcrumb_items = [
    {"name": "Dashboard", "url": url_for("dashboard")},
    {"name": "Colaboradores"}
    ] %}
    {% include "dashboard/partials/breadcrumb.html" %}

    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            {% include 'dashboard/collaborators/partials/_filter.html' %}
        </div>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">

                    {% include 'dashboard/collaborators/partials/_table_header.html' %}

                    {% include 'dashboard/partials/_per_page.html' %}

                    <div class="table-responsive">
                        {% include 'dashboard/collaborators/partials/_table.html' %}
                    </div>

                    {% include 'dashboard/partials/_paginate.html' %}

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('dashboard', path='js/alerts.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/collaborators/collaborators.js') }}" type="module"></script>
{% endblock %}