{% extends "dashboard/partials/base.html" %}

{% block title %}Nova Reserva - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% include 'dashboard/reservations/partials/_form_new.html' %}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('dashboard', path='libs/jquery/dist/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('dashboard', path='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('dashboard', path='js/tooltip_bs.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>$('.select-room').select2();</script>
{% if not guest.name and not guest.cpf %}
<script>$('.name_select2').select2();</script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('dashboard', path='js/reservations/new_reservations.js') }}"></script>

{% endblock %}