{% extends "dashboard/partials/base.html" %}

{% block title %}Nova Reserva - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Nova Reserva</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('create_reservation') }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="check_in" class="form-label">Data de check-in</label>
                                    <input type="datetime-local" class="form-control" id="check_in" name="check_in" required>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="check_out" class="form-label">Data de check-out (previsto)</label>
                                    <input type="datetime-local" class="form-control" id="check_out" name="check_out" required>
                                </div>
                            </div>
                            <div class="row">
                                {% if guest.name and guest.cpf %}
                                    <div class="mb-3 col-8">
                                        <label for="name" class="form-label">Nome e sobrenome do hóspede</label>
                                        <input type="text" class="form-control" value="{{ guest.name if guest else '' }}" {% if guest %} readonly {% endif %} id="name" name="name" required>
                                    </div>
                                    <div class="mb-3 col-4">
                                        <label for="cpf" class="form-label">CPF do hóspede</label>
                                        <input type="text" class="form-control" value="{{ guest.cpf if guest else '' }}" {% if guest %} readonly {% endif %} id="cpf" name="cpf" required>
                                    </div>
                                {% else %}
                                    <div class="mb-3 col-12">
                                        <label for="name_select2" class="form-label">Hóspede</label>
                                        <select class="form-select name_select2" name="cpf" id="name_select2" required>
                                            <option value="" selected>Insira as datas para selecionar o hóspede</option>
                                            {% for g in guest %}
                                            <option value="{{ g.cpf }}">
                                                {{ g.name }} -> {{ g.cpf[:3] + "." + g.cpf[3:6] + "." + g.cpf[6:9] + "." + g.cpf[9:] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <label for="room_id" class="form-label">Quarto</label>
                                    <select class="form-select select-room" name="room_id" id="room_id" required>
                                        <option value="" selected>Insira as datas para selecionar o quarto</option>
                                        {% for room in rooms %}
                                        <option value="{{ room.id }}">
                                            Quarto: 
                                            {{ room.room_number }} > 
                                            {% if room.type == '1' %} 
                                                Solteiro
                                            {% elif room.type == '2' %}
                                                Duplo
                                            {% elif room.type == '3' %}
                                                Duplo
                                            {% elif room.type == '4' %}
                                                Casal
                                            {% elif room.type == '5' %}
                                                Triplo
                                            {% elif room.type == '6' %}
                                                Triplo
                                            {% elif room.type == '7' %}
                                                Triplo
                                            {% elif room.type == '8' %}
                                                Triplo (com casal)
                                            {% elif room.type == '9' %}
                                                Personalizado
                                            {% endif %} > 
                                            {{ room.capacity_adults }} adultos, {{ room.capacity_children }} crianças > 
                                            R${{ '%.2f'|format(room.price)|replace('.', ',') }} diária</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Gravar reserva</button>
                            <a href="javascript:history.back()" class="btn btn-outline-danger ms-2">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('dashboard', path='libs/jquery/dist/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $("#cpf").inputmask({
        mask: ['999.999.999-99'],
        keepStatic: true,
        rightAlign: false,
        removeMaskOnSubmit: true,
        unmaskAsNumber: true,
    });
</script>
<script src="{{ url_for('dashboard', path='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $('.select-room').select2();
</script>
{% if not guest.name and not guest.cpf %}
<script>
    $('.name_select2').select2();
</script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function formatDate(datetimeStr) {
        const dt = new Date(datetimeStr);
        const day = String(dt.getDate()).padStart(2, '0');
        const month = String(dt.getMonth() + 1).padStart(2, '0'); // meses começam do 0
        const year = dt.getFullYear();
        const hours = String(dt.getHours()).padStart(2, '0');
        const minutes = String(dt.getMinutes()).padStart(2, '0');
        return `${day}/${month}/${year} ${hours}:${minutes}`;
    }

const checkInInput = document.getElementById("check_in");
const checkOutInput = document.getElementById("check_out");
const roomSelect = document.getElementById("room_id");
const guestSelect = document.getElementById("name_select2");

async function updateAvailability() {
    const checkIn = checkInInput.value;
    const checkOut = checkOutInput.value;
    const guest_id = guestSelect 
    ? guestSelect.value || "{{ guest.id if guest else '' }}" 
    : "{{ guest.id if guest else '' }}";

    if (!checkIn || !checkOut) return;

    if (checkIn > checkOut){
        Swal.fire({
                icon: "error",
                title: "Opa...",
                text: "O check-out deve ser posterior ao check-in",
            });
            checkInInput.value = '';
            checkOutInput.value = '';
    }

    const daysReservation = new Date(checkOut) - new Date(checkIn)
    const totalDays = Math.ceil(daysReservation / (1000 * 60 *60 * 24 ));

    try {
        const url = `/dashboard_reservations/check_availability?check_in=${checkIn}&check_out=${checkOut}${guest_id ? `&guest_id=${guest_id}` : ''}`;
        const res = await fetch(url);
        const data = await res.json();

        if (data.guest_conflict) {
            Swal.fire({
                icon: "error",
                title: "Opa...",
                text: "Esse hóspede tem uma reserva ativa nesse período!",
                footer: 'Período entre: <strong>' + formatDate(checkIn) + "</strong> e <strong>" + formatDate(checkOut) + "</strong>"
            });
            checkInInput.value = '';
            checkOutInput.value = '';
        }

        roomSelect.innerHTML = `<option value="" selected>Pesquise e selecione o quarto</option>`;
        data.available_rooms.forEach(r => {
            const totalPrice = r.price * totalDays;
            roomSelect.innerHTML += `<option value="${r.id}">Quarto: ${r.room_number} - ${r.capacity_adults} adultos, ${r.capacity_children} crianças - R$ ${r.price.toFixed(2).replace('.', ',')} / diária (Total: R$ ${totalPrice.toFixed(2).replace('.',',')})</option>`;
        });

        if (guestSelect) {
            guestSelect.innerHTML = `<option value="" selected>Pesquise e selecione o hóspede</option>`;
            data.available_guests.forEach(g => {
                guestSelect.innerHTML += `<option value="${g.cpf}">${g.name} -> ${g.cpf.slice(0,3)}.${g.cpf.slice(3,6)}.${g.cpf.slice(6,9)}.${g.cpf.slice(9,)}</option>`;
            });
        }

    } catch (err) {
        console.error("Erro ao verificar disponibilidade:", err);
    }
}

// Eventos para disparar a verificação
checkInInput.addEventListener("change", updateAvailability);
checkOutInput.addEventListener("change", updateAvailability);
if (guestSelect) guestSelect.addEventListener("change", updateAvailability);
</script>

{% endblock %}