{% extends "dashboard/partials/base.html" %}

{% block title %}Reservas - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body py-0 px-2">
                    <p class="d-inline-flex gap-1">
                    <h4 class="text-center">
                        <a class="" data-bs-toggle="collapse" href="#filtro_reservas" role="button"
                            aria-expanded="false" aria-controls="filtro_reservas">
                            Filtros
                        </a>
                    </h4>
                    </p>

                    {% include 'dashboard/reservations/partials/_filter.html' %}

                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">

                    {% include 'dashboard/reservations/partials/_table.html' %}

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('dashboard', path='js/alerts.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/tooltip.js') }}"></script>
<script>
    const hotel_id = "{{ request.session.get('hotel_id') }}";
</script>
<script src="{{ url_for('dashboard', path='js/reservations/change_buttons.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/reservations/reservations.js') }}" type="module"></script>

{% endblock %}