{% extends "dashboard/partials/base.html" %}

{% block title %}Reservas - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body py-0 px-2">
                    <p class="d-inline-flex gap-1">
                    <h4 class="text-center">
                        <a class="" data-bs-toggle="collapse" href="#filtro_reservas" role="button"
                            aria-expanded="false" aria-controls="filtro_reservas">
                            Filtros
                        </a>
                    </h4>
                    </p>
                    <div class="collapse" id="filtro_reservas">
                        <div class="card card-body">
                            <form action="{{ url_for('reservations') }}" method="GET">
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <label for="room" class="form-label">Quarto</label>
                                        <select class="form-select" name="room" id="room">
                                            <option value="">Selecione o quarto</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="status" class="form-label">Situação</label>
                                        <select class="form-select" name="status" id="status">
                                            <option value="">Selecione a situação</option>
                                            <option value="booked">Reservado</option>
                                            <option value="checked_in">Entrada</option>
                                            <option value="checked_out">Saída</option>
                                            <option value="canceled">Cancelado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <label for="interval_in" class="form-label">Intervalo do check-in</label>
                                        <select class="form-select" name="interval_in" id="interval_in">
                                            <option value="">Selecione o intervalo</option>
                                            <option value="before">Antes de</option>
                                            <option value="after">Depois de</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="check_in" class="form-label">Data de check-in</label>
                                        <input type="datetime-local" class="form-control" id="check_in" name="check_in">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="mb-3 col-6">
                                        <label for="interval_out" class="form-label">Intervalo do check-out</label>
                                        <select class="form-select" name="interval_out" id="interval_out">
                                            <option value="">Selecione o intervalo</option>
                                            <option value="before">Antes de</option>
                                            <option value="after">Depois de</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="check_out" class="form-label">Data de check-out</label>
                                        <input type="datetime-local" class="form-control" id="check_out" name="check_out">
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Aplicar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title fw-semibold mb-4">Reservas</h5>
                        <div>
                            {% if has_filter %}
                            <a class="btn btn-outline-warning mb-4" href="{{ url_for('reservations') }}">Limpar Filtros</a>
                            {% endif %}
                            <a class="btn btn-success mb-4" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Se o hóspede já estiver cadastrado você pode ir direto pra reserva."
                                href="{{ url_for('new_reservation') }}">Nova Reserva</a>
                            <a class="btn btn-primary mb-4" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="É necessário cadastrar o hóspede antes de fazer a reserva."
                                href="{{ url_for('new_guest') }}">Novo Hóspede</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Nº Reserva</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Nº Quarto</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Nome do Hóspede</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Check-in</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Check-out</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Situação</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ações</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reservation, room_number, name in reservations %}
                                <tr class="align-items-center">
                                    <td class="border-bottom-0">
                                        <p class="fw-semibold mb-0">{{ reservation.id }}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="fw-semibold mb-0">{{ room_number }}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="fw-semibold mb-0">{{ name }}</p>
                                        {# <span class="fw-normal">Web Designer</span> #}
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{ reservation.check_in.strftime("%d/%m/%Y %H:%M") }}
                                        </p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{ reservation.check_out.strftime("%d/%m/%Y %H:%M") }}
                                        </p>
                                    </td>
                                    <td class="border-bottom-0">
                                        {% if reservation.status == "booked" %}
                                        <p class="mb-0 fw-normal">Reservado</p>
                                        {% elif reservation.status == "checked_in" %}
                                        <p class="mb-0 fw-normal text-success">Entrada</p>
                                        {% elif reservation.status == "checked_out" %}
                                        <p class="mb-0 fw-normal text-danger">Saída</p>
                                        {% elif reservation.status == "canceled" %}
                                        <p class="mb-0 fw-normal text-warning">Cancelado</p>
                                        {% endif %}
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            {% if reservation.status == 'booked' %}
                                            <a href=""
                                                class="text-success" data-bs-toggle="tooltip" 
                                                data-bs-placement="bottom" title=""
                                                data-bs-original-title="Fazer check-in"
                                                aria-label="Fazer check-in">
                                                <i class="ti ti-check"></i>
                                            </a>
                                            <a href=""
                                                class="text-dark" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title=""
                                                data-bs-original-title="Cancelar reserva" 
                                                aria-label="Cancelar reserva">
                                                <i class="ti ti-circle-x"></i>
                                            </a>
                                            {% elif reservation.status == 'checked_in' %}
                                            <a href=""
                                                class="text-danger" data-bs-toggle="tooltip" 
                                                data-bs-placement="bottom" title=""
                                                data-bs-original-title="Fazer check-out"
                                                aria-label="Fazer check-out">
                                                <i class="ti ti-door-exit"></i>
                                            </a>
                                            <a href=""
                                                class="text-warning" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title=""
                                                data-bs-original-title="Gerenciar reserva" 
                                                aria-label="Gerenciar reserva">
                                                <i class="ti ti-brand-asana"></i>
                                            </a>
                                            {% elif reservation.status == 'checked_out' %}
                                            <a href=""
                                                class="text-info" data-bs-toggle="tooltip" 
                                                data-bs-placement="bottom" title=""
                                                data-bs-original-title="Ver hóspede"
                                                aria-label="Ver hóspede">
                                                <i class="ti ti-user"></i>
                                            </a>
                                            <a href=""
                                                class="text-success" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title=""
                                                data-bs-original-title="Reservar este hóspede novamente" 
                                                aria-label="Reservar este hóspede novamente">
                                                <i class="ti ti-calendar-plus"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<script>
    const roomInput = document.getElementById("room");

    async function updateRooms(hotel_id) {

        try {
            const url = `/api/get_rooms?hotel_id=${hotel_id}`;
            const res = await fetch(url);
            const data = await res.json();

            roomInput.innerHTML = `<option value="" selected>Selecione o quarto</option>`;
            data.forEach(r => {
                roomInput.innerHTML += `<option value="${r.id}">${r.room_number} - ${r.capacity_adults} adultos, ${r.capacity_children} crianças - R$ ${r.price.toFixed(2).replace('.', ',')}</option>`;
            });
        } catch (err) {
            console.error("Erro ao verificar disponibilidade:", err);
        }
    }

    roomInput.addEventListener("focus", function () {
        updateRooms("{{ request.session.get('hotel_id') }}");
    });


</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteLinks = document.querySelectorAll(".btn-delete-room");

        deleteLinks.forEach(link => {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                const url = this.href;

                Swal.fire({
                    title: "Você tem certeza?",
                    text: "Essa ação é irreversível.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sim, deletar!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script> -->

{% endblock %}