{% extends "dashboard/partials/base.html" %}

{% block title %}Reservas - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% set breadcrumb_title = "Reservas" %}
    {% set breadcrumb_items = [
    {"name": "Dashboard", "url": url_for("dashboard")},
    {"name": "Reservas"}
    ] %}
    {% include "dashboard/partials/breadcrumb.html" %}
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">

            {% include 'dashboard/reservations/partials/_filter.html' %}

        </div>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">

                    {% include 'dashboard/reservations/partials/_table.html' %}

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('dashboard', path='js/alerts.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/tooltip.js') }}"></script>
<script>
    const hotel_id = "{{ request.session.get('hotel_id') }}";
</script>
<script src="{{ url_for('dashboard', path='js/reservations/change_buttons.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/reservations/reservations.js') }}" type="module"></script>

{% endblock %}