<!-- Include Header Start -->
{% extends "partials/base.html" %}
<!-- Include Header End -->

{% block content %}

<!-- Include Navbar Start -->
{% include "partials/_navbar.html" %}
<!-- Include Navbar End -->

    <div class="mb-5 container-fluid mt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card shadow-lg">
                        {% include 'guests_access/partials/_table_reservation.html' %}
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card shadow-lg">
                        {% include 'guests_access/partials/_table_requests.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if reserva.Reservations.status == 'checked_in' and reserva.Reservations.allow_request_services %}
    <div class="modal fade" id="solicitarServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {% include 'guests_access/partials/_modal_solicitar.html' %}
    </div>
    {% endif %}
    <div class="modal fade" id="solicitacaoServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {% include 'guests_access/partials/_modal_ver_solicitacao.html' %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('dashboard', path='js/alerts.js') }}" type="module"></script>
    {% if reserva.Reservations.status == 'checked_in' and reserva.Reservations.allow_request_services %}
    <script src="{{ url_for('guests_access', path='js/request_service.js' ) }}" type="module"></script>
    {% endif %}
    <script src="{{ url_for('guests_access', path='js/view_request.js' ) }}" type="module"></script>

{% endblock %}