{% extends "dashboard/partials/base.html" %}

{% block title %}API Keys - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}


<div class="container-fluid">
    {% set breadcrumb_title = "API Keys" %}
    {% set breadcrumb_items = [
    {"name": "Dashboard", "url": url_for("dashboard")},
    {"name": "API Keys"}
    ] %}
    {% include "dashboard/partials/breadcrumb.html" %}
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">

                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title fw-semibold mb-4">Chaves</h5>
                        <div>
                            <a id="new_api_key" class="btn btn-primary mb-4" href="javascript:void(0)">
                                Nova Chave
                            </a>
                        </div>
                    </div>
                    {% include 'dashboard/partials/_per_page.html' %}
                    <div class="table-responsive">
                        {% include 'dashboard/api_keys/partials/_table.html' %}
                    </div>
                    {% include 'dashboard/partials/_paginate.html' %}

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('dashboard', path='js/alerts.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/api_key/update_api_key.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/api_key/create_api_key.js') }}"></script>
{% endblock %}