<form action="{{ url_for('create_collaborator') if not collaborator else url_for('update_collaborator', collaborator_id=collaborator.id) }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="firstname" class="form-label">Primeiro nome</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required value="{{ collaborator.firstname if collaborator else '' }}">
        </div>
        <div class="mb-3 col-6">
            <label for="lastname" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required value="{{ collaborator.lastname if collaborator else '' }}">
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" required
            value="{{ collaborator.cpf if collaborator else '' }}" {% if collaborator %}readonly{% endif %}>
            {% if collaborator %}<div class="form-text text-warning">Inalterável</div>{% endif %}
        </div>
        <div class="mb-3 col-6">
            <label for="username" class="form-label">Nome de usuário
                <a type="button" class="" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                    title="Ao salvar, o nome de usuário passa por formatações como: todas as letras ficam minúsculas, e espaços em branco são removidos">
                    <i class="ti ti-info-circle"></i>
                </a>
            </label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder='Predefinido: "{{ collaborator.firstname.lower().strip() if collaborator else "nome" }}.{{ collaborator.lastname.lower().strip() if collaborator else "sobrenome" }}"'
                value="{{ collaborator.username if collaborator else '' }}">
            <span class="text-warning">Se deixado em branco, é predefinido <strong>"nome.sobrenome"</strong></span>
        </div>
    </div>
    {% if collaborator %}
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="is_active" name="is_active"
                {% if collaborator.is_active %}checked{% endif %}>
                <label for="is_active" class="form-check-label">Ativo</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="change_password" name="change_password"
                {% if collaborator.change_password %}checked{% endif %}>
                <label for="change_password" class="form-check-label">Redefinir senha no próximo login</label>
            </div>
        </div>
    </div>
    {% endif %}
    {% if not collaborator %}
    <button type="submit" class="btn btn-primary">Criar</button>
    <a href="javascript:history.back()" class="btn btn-outline-danger ms-2">Voltar</a>
    {% else %}
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="javascript:history.back()" class="btn btn-outline-danger ms-2">Voltar</a>
    {% endif %}
</form>