<div class="d-grid gap-2">
    {% if reservation.Reservations.status == 'booked' %}
    <a type="button"
        href="{{ url_for('manage_reservation', reservation_id=reservation.Reservations.id) }}?check_in=true"
        class="btn btn-outline-success btn-update-reservation">Fazer check-in</a>
    <a type="button" href="{{ url_for('manage_reservation', reservation_id=reservation.Reservations.id) }}?cancel=true"
        class="btn btn-outline-warning btn-cancel-reservation">Cancelar reserva</a>
    {% elif reservation.Reservations.status == 'checked_in' %}
    <a type="button"
        href="{{ url_for('manage_reservation', reservation_id=reservation.Reservations.id) }}?check_out=true"
        class="btn btn-outline-danger btn-update-reservation">Fazer check-out</a>
    <a type="button" href="{{ url_for('manage_reservation', reservation_id=reservation.Reservations.id) }}?cancel=true"
        class="btn btn-outline-warning btn-cancel-reservation">Cancelar reserva</a>
    {% endif %}
    <a type="button"
        href="{{ url_for('edit_guest', guest_id=reservation.Guest.id, guest_cpf=reservation.Guest.cpf ) }}?next={{ request.path }}"
        class="btn btn-dark">Gerenciar hóspede</a>
    <a type="button"
        href="{{ url_for('edit_room', room_id=reservation.Rooms.id) }}?next={{ request.path }}"
        class="btn btn-dark">Gerenciar quarto</a>
</div>