{% extends "dashboard/partials/base.html" %}

{% block title %}Novo Quarto - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Novo Quarto</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('update_room', room_id=room.id) }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <div class="row">
                                <div class="mb-3 col-4">
                                    <label for="room_number" class="form-label">Número do quarto</label>
                                    <input type="text" class="form-control" id="room_number" name="room_number" value="{{ room.room_number if room else '' }}">
                                </div>
                                <div class="mb-3 col-8">
                                    <label for="room_type" class="form-label">Tipo do quarto
                                        <a type="button" class=""
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Se for personalizado, defina a quantidade de adultos e crianças manualmente.">
                                            <i class="ti ti-info-circle"></i>
                                        </a>
                                    </label>
                                    <select class="form-select" required name="room_type" id="room_type">
                                        <option value="">Selecione o tipo de quarto</option>
                                        <optgroup label="1 cama">
                                            <option value="1" {% if room and room.type == "1" %}selected{% endif %}>Solteiro</option>
                                        </optgroup>
                                        <optgroup label="2 camas">
                                            <option value="2" {% if room and room.type == "2" %}selected{% endif %}>Duplo - Duas camas de solteiro (1 adulto, 1 criança)</option>
                                            <option value="3" {% if room and room.type == "3" %}selected{% endif %}>Duplo - Duas camas de solteiro (2 adultos)</option>
                                            <option value="4" {% if room and room.type == "4" %}selected{% endif %}>Casal - Uma cama de casal (2 adultos)</option>
                                        </optgroup>
                                        <optgroup label="3 camas">
                                            <option value="5" {% if room and room.type == "5" %}selected{% endif %}>Triplo - Três camas de solteiro (1 adulto, 2 crianças)</option>
                                            <option value="6" {% if room and room.type == "6" %}selected{% endif %}>Triplo - Três camas de solteiro (2 adultos, 1 criança)</option>
                                            <option value="7" {% if room and room.type == "7" %}selected{% endif %}>Triplo - Três camas de solteiro (3 adultos)</option>
                                            <option value="8" {% if room and room.type == "8" %}selected{% endif %}>Triplo (com casal) - (1 casal, 1 criança)</option>
                                        </optgroup>
                                            <option value="9" {% if room and room.type == "9" %}selected{% endif %}>Personalizado - Quarto adaptatível para 4 ou mais pessoas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-4">
                                    <label for="capacity_adults" class="form-label">Adultos 
                                        <a type="button" class=""
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Campo dinâmico, exceto para quartos de tipo personalizado.">
                                            <i class="ti ti-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="number" class="form-control" id="capacity_adults" name="capacity_adults" required value="{{ room.capacity_adults if room else '' }}">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="capacity_children" class="form-label">Crianças (até 17 anos)
                                        <a type="button" class=""
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Campo dinâmico, exceto para quartos de tipo personalizado.">
                                            <i class="ti ti-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="number" class="form-control" id="capacity_children" name="capacity_children" required value="{{ room.capacity_children if room else '' }}">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="capacity_total" class="form-label">Total
                                        <a type="button" class=""
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Campo automático, soma de adultos e crianças.">
                                            <i class="ti ti-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="number" class="form-control" id="capacity_total" name="capacity_total" required value="{{ room.capacity_total if room else '' }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="price" class="form-label">Preço (diária)</label>
                                    <input type="text" class="form-control" id="price" name="price" value="{{ '%.2f'|format(room.price)|replace('.', ',') }}">
                                </div>
                                <div class="mb-3 col-6 align-items-end justify-content-start d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="is_active" name="is_active" {% if room.is_active %}checked{% endif %}>
                                        <label class="form-check-label" for="is_active">
                                            Quarto ativo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <label for="comments" class="form-label">Observações (o hóspede pode ver as observações do quarto no painel de hóspedes)</label>
                                    <textarea class="form-control" id="comments" name="comments" placeholder="Ex.: 'Controle da televisão dentro da gaveta da mesa de cabeceira.'">{{ room.comments if room.comments else '' }}</textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Editar</button>
                            <a href="{{ url_for('rooms') }}" class="btn btn-outline-danger">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('dashboard', path='libs/jquery/dist/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $("#price").inputmask({
        alias: "decimal",
        radixPoint: ",",
        groupSeparator: ".",
        prefix: 'R$ ',
        digits: 2,
        digitsOptional: false,
        rightAlign: false,
        removeMaskOnSubmit: true,
        unmaskAsNumber: true,
    });
</script>
<script src="{{ url_for('dashboard', path='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script>
(() => {
  const roomType = document.getElementById("room_type");
  const adultsInput = document.getElementById("capacity_adults");
  const childrenInput = document.getElementById("capacity_children");
  const totalInput = document.getElementById("capacity_total");

  const roomCapacities = {
    "1": [1, 0],
    "2": [1, 1],
    "3": [2, 0],
    "4": [2, 0],
    "5": [1, 2],
    "6": [2, 1],
    "7": [3, 0],
    "8": [2, 1],
  };

  function updateCapacity() {
    const type = roomType.value;

    if (type === "9") { 
      adultsInput.readOnly = false;
      childrenInput.readOnly = false;
      adultsInput.value = "{{ room.capacity_adults if room else '' }}";
      childrenInput.value = "{{ room.capacity_children if room else '' }}";
      totalInput.value = "{{ room.capacity_total if room else '' }}";
    } else if (roomCapacities[type]) {
      const [adults, children] = roomCapacities[type];
      adultsInput.value = adults;
      childrenInput.value = children;
      adultsInput.readOnly = true;
      childrenInput.readOnly = true;
      totalInput.value = adults + children;
    } else {
      adultsInput.value = "";
      childrenInput.value = "";
      totalInput.value = "";
      adultsInput.readOnly = true;
      childrenInput.readOnly = true;
    }
  }

  function updateTotal() {
    const adults = parseInt(adultsInput.value) || 0;
    const children = parseInt(childrenInput.value) || 0;
    totalInput.value = adults + children;
  }

  roomType.addEventListener("change", updateCapacity);
  adultsInput.addEventListener("input", updateTotal);
  childrenInput.addEventListener("input", updateTotal);

})();
</script>

{% endblock %}