{% extends "dashboard/partials/base.html" %}

{% block title %}Pedidos - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" />

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title fw-semibold mb-4">Pedidos de Serviços</h5>
                        <div>
                            {% if has_filter %}
                            <a class="btn btn-outline-warning mb-4" href="{{ url_for('rooms') }}">Limpar Filtros</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle" id="servicos">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="text-center fw-semibold mb-0">Nº Pedido</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="text-center fw-semibold mb-0">Nº Reserva</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="text-center fw-semibold mb-0">Nº Quarto</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="text-center fw-semibold mb-0">Hóspede</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="text-center fw-semibold mb-0">Status</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="text-center fw-semibold mb-0">Horário do pedido</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.3.5/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/2.3.5/i18n/pt-BR.json"></script>
<script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.min.js"></script>

<script>
    $('#servicos').DataTable({
        responsive: true,
        language: {
            url: '//cdn.datatables.net/plug-ins/2.3.5/i18n/pt-BR.json',
        },
        order: [[
            4, 'desc'
        ]],
        ajax: {
            method: 'GET',
            url:'/api/get_services_requests',
            dataSrc: '',
        },
        columns: [
            { 
                data : 'id',
                class : 'text-center',
            },
            { 
                data : 'reservation.id',
                class : 'text-center'
            },
            { 
                data : 'reservation.room.room_number',
                class : 'text-center'
            },
            {
                data : 'reservation.guest.name',
                class : 'text-center'
            },
            { 
                data : 'status',
                class : 'text-center'
            },
            {
                data : 'created_at',
                class : 'text-center'
            },
            {
                title : 'Ações',
                data : 'id',
                class : 'text-center',
                render : function(data, type, full, meta){
                    return `<a href="dashboard_services/pedido/${data}"><i class="ti ti-arrow-badge-right"/></a>`
                }
            }
        ],
    });
</script>
{% endblock %}