{% extends "dashboard/partials/base.html" %}

{% block title %}Pedidos - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}

{% set ROOM_TYPE_LABEL = {
    '1': 'Solteiro',
    '2': 'Duplo',
    '3': 'Duplo',
    '4': 'Casal',
    '5': 'Triplo',
    '6': 'Triplo',
    '7': 'Triplo',
    '8': 'Triplo (com casal)',
    '9': 'Personalizado'
} %}

{% set REQUEST_STATUS_LABEL = {
    'pending': 'Pendente',
    'in_progress': 'Em andamento',
    'completed': 'Concluído'
} %}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-danger" type="button" href="{{ url_for('services_requests') }}">Voltar para pedidos</a>
                <h5 class="card-title mt-3">Detalhes do pedido</h5>
                <div class="row">
                    <div class="col-5">
                        <div class="card">
                            {% include 'dashboard/services/partials/_card_reservation.html' %}
                        </div>
                        <div class="card">
                            {% include 'dashboard/services/partials/_card_guest.html' %}
                        </div>
                    </div>
                    
                    <div class="card col-7">
                        {% include 'dashboard/services/partials/_card_request.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('dashboard', path='js/alerts.js') }}" type="module"></script>
<script src="{{ url_for('dashboard', path='js/services/update_request.js') }}" type="module"></script>

{% endblock %}