{% extends "dashboard/partials/base.html" %}

{% block title %}Hóspedes - {% if current_hotel %}{{ current_hotel.name }}{% endif %}{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body py-0 px-2">
                    <p class="d-inline-flex gap-1">
                        <h4 class="text-center">
                            <a class="" data-bs-toggle="collapse" href="#filtros" role="button" aria-expanded="false"
                                aria-controls="filtros">
                                Filtros
                            </a>
                        </h4>
                    </p>
                    <div class="collapse show" id="filtros">
                        <div class="card card-body">
                            <form action="{{ url_for('guests') }}" method="GET">
                                <div class="row">
                                    <div class="mb-3 col-6">
                                        <label for="name" class="form-label">Nome do hóspede</label>
                                        <input type="text" class="form-control" id="name" name="name" minlength="3" placeholder="Min. 3 caracteres">
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="cpf" class="form-label">CPF do hóspede</label>
                                        <input type="text" class="form-control" id="cpf" name="cpf" maxlength="11" placeholder="Sem pontuação">
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Aplicar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 shadow-lg">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title fw-semibold mb-4">Hóspedes</h5>
                        <div>
                            {% if has_filter %}
                                <a class="btn btn-outline-warning mb-4" href="{{ url_for('guests') }}">Limpar Filtros</a>
                            {% endif %}
                        <a class="btn btn-primary mb-4" href="{{ url_for('new_guest') }}">Novo Hóspede</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Nome</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">CPF</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">E-mail</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Telefone</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Nº reserva <a type="button" class=""
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title='Somente reservas de situação "Reservado" ou "Entrada"'>
                                            <i class="ti ti-info-circle"></i>
                                        </a></h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Check-in</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ações</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for guest, check_in, status, id, room_number in guests %}
                                    <tr class="align-items-center">
                                        <td class="border-bottom-0">
                                            <p class="fw-semibold mb-0">{{ guest.name }}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="fw-semibold mb-0">{{ guest.cpf[:3] + "." + guest.cpf[3:6] + "." + guest.cpf[6:9] + "." + guest.cpf[9:] }}</p>
                                            {# <span class="fw-normal">Web Designer</span> #}
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{ guest.email if guest.email else 'Não informado' }}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">
                                                {{ "(" + guest.phone_number[:2] + ") " + guest.phone_number[2:] if guest.phone_number else 'Não informado' }}
                                            </p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">
                                                {% if status != 'checked_out' and status != 'canceled' %}
                                                    {{ id if room_number else 'Sem reserva' }}
                                                {% else %}
                                                    Sem reserva
                                                {% endif %}
                                            </p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal {{ 'text-success' if status == 'checked_in' }} {{ 'text-info' if status == 'booked' }}">
                                                {% if status != 'checked_out' and status != 'canceled' %}
                                                    {{ check_in.strftime("%d/%m/%Y %H:%M") if check_in else 'Sem reserva' }}
                                                {% else %}
                                                    Sem reserva
                                                {% endif %}
                                            </p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center justify-content-start gap-3 fs-6">
                                                <a href="/dashboard_reservations/new?guest_id={{ guest.id }}" class="text-primary" title="Reservar esse hóspede"><i class="ti ti-calendar-plus"></i></a>
                                                <a href="{{ url_for('edit_guest', guest_id=guest.id, guest_cpf=guest.cpf) }}" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deletar" data-bs-original-title="Deletar" aria-label="Deletar"><i class="ti ti-pencil"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteLinks = document.querySelectorAll(".btn-delete-room");

        deleteLinks.forEach(link => {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                const url = this.href;

                Swal.fire({
                    title: "Você tem certeza?",
                    text: "Essa ação é irreversível.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sim, deletar!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script> -->

{% endblock %}