<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Solicitar serviço</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="serviceRequestForm">
            <div class="modal-body">
                <div class="mb-3">
                    <textarea class="form-control" id="serviceRequestDescription" rows="3"
                        placeholder="Descreva o serviço que deseja solicitar..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="sendRequest">Enviar pedido</button>
            </div>
        </form>
    </div>
</div>