<table class="table text-nowrap mb-0 align-middle" id="servicos">
    <thead class="text-dark fs-4">
        <tr>
            <th class="border-bottom-0">
                <h6 class="text-center fw-semibold mb-0">Nº Pedido</h6>
            </th>
            <th class="border-bottom-0">
                <h6 class="text-center fw-semibold mb-0">Nº Reserva</h6>
            </th>
            <th class="border-bottom-0">
                <h6 class="text-center fw-semibold mb-0">Nº Quarto</h6>
            </th>
            <th class="border-bottom-0">
                <h6 class="text-center fw-semibold mb-0">Hóspede</h6>
            </th>
            <th class="border-bottom-0">
                <h6 class="text-center fw-semibold mb-0">Status</h6>
            </th>
            <th class="border-bottom-0">
                <h6 class="text-center fw-semibold mb-0">Horário do pedido</h6>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>